<div class="row auth">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#login">Log in</a></li>
      <li class="tab col s6"><a href="#register">Registration</a></li>
    </ul>
  </div>
  <div id="login" class="col s6 offset-s3">
    {{#if LoginError}}
    <p class="alert">{{LoginError}}</p>
    {{/if}}
    <h1>Log in app</h1>
    <form action="/auth/login" method="POST">
      <div class="input-field">
        <input placeholder="login" name="login" id="login" type="text" class="validate" required>
        <label for="login">Please enter your login</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
      </div>
      <div class="input-field">
        <input placeholder="password" name="password" id="password" type="password" class="validate" required>
        <label for="password">Please enter your password</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
      <a href='/auth/reset'>
        <p>Забыли пароль?</p>
      </a>
      <input type="hidden" name="_csrf" value="{{csrf}}">
    </form>
  </div>
  <div id="register" class="col s6 offset-s3">
    {{#if RegisterError}}
    <p class="alert">{{RegisterError}}</p>
    {{/if}}
    <form action="/auth/register" method="POST">
      <div class="input-field">
        <input placeholder="fio" name="fio" id="fio" type="text" class="validate" required>
        <label for="fio">Please enter your fio</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
      </div>
      <div class="input-field">
        <input placeholder="login" name="login" id="relogin" type="text" class="validate" required>
        <label for="login">Please enter your login</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
      </div>
      <div class="input-field">
        <input placeholder="email" name="email" id="email" type="email" class="validate" required>
        <label for="email">Please enter your email</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
      </div>
      <div class="input-field">
        <input placeholder="password" name="password" id="repassword" type="password" class="validate" required>
        <label for="password">Please enter your password</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
      </div>
      <div class="input-field">
        <input placeholder="confirm" name="confirm" id="confirm" type="password" class="validate" required>
        <label for="password">Please enter your password again</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Submit
        <i class="material-icons right">send</i>
      </button>
      <input type="hidden" name="_csrf" value="{{csrf}}">
    </form>
  </div>
</div>