<h1 class="center-align">Добавить новую вакансию</h1>
{{#if error}}
<p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" class="form-add">
    <div class="input-field">
        <input placeholder="Название" name="jobVacancy" id="jobVacancy" type="text" class="validate" required>
        <label for="Название">Название вакансии</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
    </div>
    <div class="input-field">
        <input placeholder="Описание" name="description" id="description" type="text" class="validate" required>
        <label for="Описание">Описание</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
    </div>
    <div class="input-field">
        <input placeholder="Заработная плата" name="wage" id="wage" type="text" class="validate" required>
        <label for="Заработная плата">Заработная плата</label>
        <span class="helper-text" data-error="Wrong" data-success="Success"></span>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Добавить
        <i class="material-icons right">send</i>
    </button>
    <input type="hidden" name="_csrf" value="{{csrf}}">
</form>