<main>
  <div class="parallax-container">
    <div class="parallax"><img src="https://previews.123rf.com/images/sitthinan/sitthinan1706/sitthinan170600102/81157978-global-business-of-container-cargo-freight-train-for-logistic-import-export-business-logistics-conce.jpg">
    </div>
  </div>
  <div class="section section-text white-text">
    <div class="row container">
      <h2 class="header">Таможенное право - одна из универсальных отраслей права, которое регулирует отношения в сфере
        внешнеэкономической деятельности!</h2>
      <p class="text-white lighten-3"> Таможенное регулирование занимает принципиальное положение в
        обеспечении экономической безопасности государства. Это одно из немногих направлений,
        где ни одно из государств не позволяет осуществлять это дело частными субъектами хозяйствования (то есть право
        оформления, таможенного контроля, право привлечения к уголовной или административной ответственности, право
        взимания платежей и т.д.);
        вправе осуществлять это только уполномоченные государственные органы.
        30-35 % доходной части бюджета формируется за счёт таможенных платежей.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="./images/parallax_two.jpg"></div>
  </div>
</main>