  <main>
  <div class="parallax-container">
      <div class="parallax"><img src="https://images.wallpaperscraft.ru/image/trava_nebo_svet_leto_84325_1920x1080.jpg"></div>
    </div>
    <div class="section white red lighten-4">
      <div class="row container">
        <h2 class="header">Take a fresh look at the weather!</h2>
        <p class="grey-text text-darken-3 lighten-3">This is unique application that will make you happy.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://images.wallpaperscraft.ru/image/zima_sneg_les_155208_1920x1080.jpg"></div>
    </div>
    </main>