<main>
  <div class="parallax-container">
    <div class="parallax"><img src="https://bipbap.ru/wp-content/uploads/2017/04/priroda_kartinki_foto_03.jpg"></div>
  </div>
  <div class="section white red lighten-4">
    <div class="row container">
      <h2 class="header">Take a fresh look at the weather!</h2>
      <p class="grey-text text-darken-3 lighten-3">This is unique application that will make you happy.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img
        src="https://bipbap.ru/wp-content/uploads/2017/04/krasivye_kollazh_na_temu_prirody_1920x1200.jpg"></div>
  </div>
</main>