<div class="sensor">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Датчик {{detector.name_detector}}</h1>
        </div>
        <div class="col s12 m6 l4 center-align">
            <p>{{detector.model_detector}}</p>
        </div>
        <div class="col s12 m6 l8 center-align">
            <p>{{detector.producing_country}}</p>
        </div>
    </div>
</div>